.lab {
  padding-top: calc(var(--header-height) + var(--space-8));
}

.title {
  padding-inline: var(--gutter);
  font-size: var(--text-3xl);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  min-height: 80vh;
  padding-block: var(--space-8);
}

.block:first-of-type {
  align-items: stretch;
}

.copy {
  display: grid;
  gap: var(--space-3);
  max-width: 25rem;
  font-size: var(--text-md);
  text-align: center;
}

.heading {
  font-size: var(--text-2xl);
  text-align: center;
}
